@font-face {
    font-family: "font ballon";
    src: url('./fonts/Mf\ Air\ Balloon.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 1.125rem;
    color: #f4d58d;
    margin: 0;
    background-color: #708d81;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.5em;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #001427;
    border: 10px solid #708d81;
}

.qna-container {
    padding: 2em .3em;
}


.qna-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==============
    Typography
   ============== */

h1 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1rem;
    color: #708d81;
    text-align: center;
    margin: 0;
    padding: 0 .5em;
    background-color: #001427;
}

header h1 {
    margin-bottom: 0;
    margin-top: 1.5em;
}

h1 span,
h1 + p span {
    color: #001427;
    font-weight: 900;
}

h1 + p {
    font-size: 1rem;
    margin-top: .5em;
    letter-spacing: 2px;
    text-transform: capitalize;
}

header {
    padding: 0 .5em;
    text-align: center;
}

label {
    font-size: 1rem;
}

.warning {
    font-size: .75rem;
    color: red;
    display: block;
    padding-top: 1em;
}

.question {
    font-size: 1rem;
    text-align: center;
    margin-top: .2em;
}

.answer-group {
    margin: 1em 0;
}

.answer-group input[type=radio] {
    float: left;
}

.answer-group label {
    margin-left: 25px;
    display: block;
}


/* ==============
    Layout
   ============== */
.categories-container {
    font-size: 1rem;
    color: currentColor;
    width: 100%;
    margin-top: .8em;
    padding: .8em;
    background-color: #001427;
    border: 2px solid #f4d58d;
}

.categories-container:focus {
    outline: none;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    font-family: inherit;
    font-size: 1rem;
    color: #f4d58d;
    padding: .7em;
    background-color: #001427;
    border: 2px solid #fff;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #708d81;
    border: 2px solid #708d81;
}

.next-question-btn {
    width: 100%;
}

/* ===============
    media quaries
   =============== */
@media (min-width: 760px) {
    .container {
        max-width: 700px;
    }

    .container.qna-container {
        padding: 1em;
    }

    header h1 {
        font-size: 3.5rem;
        margin-top: 1em;
    }

    h1 + p,
    h3,
    label,
    .question
    {
        font-size: 1.2rem;
        text-align: left;
    }

    h1 + p {
        word-spacing: 3px;
        text-align: center;
    }

    .question {
        padding-left: .5em;
    }
    
}

